{% extends 'root/_base.html' %}
{% load static %}
{% block title %} {{ product.title }} {% endblock%}
{% block style %} <link rel="stylesheet" href="{% static 'css/homepage.css' %}"> {% endblock %}

{% block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="cover-image add-to-cart">
                <img class="card-img-top" src="{{ product.cover_photo_url }}" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-9">
            <div class="detail-text">
                <h1 class="h3" style="font-weight: 700;">{{ product.title }} 
                    <span class="h5">by
                        {{ product.author }}
                    </span><span class="text-muted h5">(Author)</span>
                </h1>
                <p class="" style="font-size: .9rem; font-weight: 500; line-height: 1.7rem;">{{ product.description }}</p>
                <p class="h6" id="rating">Book Category: <i class="fa-solid fa-star mb-2"></i>
                    {% for category in categories %}
                        <span>{{ category.name }}</span>
                    {% endfor %}
                </p>
                
                <button 
                    id="like-button"
                    class="btn btn-success {% if user_has_liked %} disabled opacity-70 {% endif %}"
                    value="Like">
                    {% if user_has_liked %}
                        Liked
                    {% else %}
                        Like
                    {% endif %}
                </button>
                <div class="" style="width:40% !important;">
                    <form action="{% url 'cart:cart_add' product.id %}" class="d-flex justify-content-between" method="post">
                        <div class="d-flex justify-content-between">
                            {{ cart_product_form }}
                        </div>
                        {% csrf_token %}
                        <button type="submit" style="width: 200px" onclick="registerInteraction('{{product.isbn}}', 'add_to_cart')"
                         class="btn btn-md text-white add-to-cart-button" value="Add to cart">Add to Cart</button>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
                    </form>
                </div>
            </div>
        </div>
        
    </div>


    <!-- Display existing reviews-->
     <br>
     <hr>
     <h4 class="btn btn-sm text-white"> Book Rating & Review </h4>
    <ul>
        {% for rating in ratings %}
            <li>
                <strong>{{ rating.user.first_name }}</strong> rated {{ rating.rating}}
                <p>{{ rating.review}}</p>
                <small>{{ rating.timestamp }}</small>
            </li>
        {% endfor %}
     </ul>
     <br>
     <hr>
    <!-- Display existing reviews-->

    <!-- Related Books Section -->
    <div class="row row-two mt-5">
        {% if recommended_books %}
        <h1 class="h3" style="color:#002c59;">Recommended Books</h1>
        <br>
        {% for recommended_book in recommended_books %}
        <div class="col col-md-2">
            <div class="card" style="width: 11rem;">
                <img class="card-img-top" src="{{ recommended_book.cover_photo_url }}" alt="{{recommended_book.title}}">
                <div class="card-body">
                <a href="{% url 'shop:product_detail' recommended_book.isbn %}" class="card-text text text-center">{{ recommended_book.title|truncatechars:20 }} - by 
                    {{ recommended_book.author }}
                </a>
                <p class="card-rating text-center">
                    {% for category in recommended_book.categories.all %}
                        {{ category.name }}
                    {% endfor %}
                </p>
                <div class="d-flex justify-content-between price-cart">
                    <p class="card-price text-center">(USD)$ {{ recommended_book.price }}</p>
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <!-- Related Books Section -->
    <!-- Related Books Section -->
    <div class="row row-two mt-5">
        <h1 class="h3">Related Books</h1$
        {% for related_product in related_products %}
        <div class="col col-md-2">
            <div class="card" style="width: 11rem;">
                <img class="card-img-top" src="{{ related_product.cover_photo_url }}" alt="Card image cap">
                <div class="card-body">
                <a href="{% url 'shop:product_detail' related_product.isbn %}" class="card-text text text-center">{{ related_product.title|truncatechars:20 }} - by 
                    {{ related_product.author }}
                </a>
                <p class="card-rating text-center"> {% for category in related_product.categories.all %}
                    {{ category.name }}
                    {% endfor %}</p>
                <div class="d-flex justify-content-between price-cart">
                    <p class="card-price text-center"><i class="fa-solid fa-naira-sign"></i> {{ related_product.price }}</p>
                    <div class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Related Books Section -->

    <div class="testsocket" id="recommendations">
        <h1>Test SAocket</h1>
    </div>

<!-- Review Form -->
 <br>
 <br>
 <h2>Leave a Review</h2>
 <form method="post">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <button type="submit">Submit</button>
 </form>
<!-- Review Form -->
</div>

<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/interaction/');
    console.log('connected')
    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data) {
            console.log('data')
        }
        console.log(data, 'Data is absent')

        if (data.status === 'success') {
            if (data.rating) {
                // Update rating in the UI
                document.getElementById('rating').innerText = `Rating: ${data.rating}`;

                if(data.action === 'like'){
                    const likeButton = document.getElementById('like-button');
                    likeButton.classList.add('disabled opacity-70');
                }
            }

            if (data.recommendations) {
                // Update recommendations in the UI
                const recommendationsList = document.getElementById('recommendations');
                recommendationsList.innerHTML = '';

                data.recommendations.forEach(book => {
                    const li = document.createElement('li');
                    li.innerText = `${book.title} (ISBN: ${book.isbn})`;
                    recommendationsList.appendChild(li);
                });
            }
        }
    };

    function registerInteraction(isbn, action, time_spent = 0) {
        socket.send(JSON.stringify({
            'isbn': isbn,
            'action': action,
            'time_spent': time_spent
        }));
    }

        // Example: Register a 'like' interaction when the like button is clicked
    document.getElementById('like-button').addEventListener('click', function() {
        registerInteraction('{{ product.isbn }}', 'like');
    });

    /*// Example: Register an 'add to cart' interaction when the add to cart button is clicked
    document.getElementById('add-to-cart-button').addEventListener('click', function() {
        registerInteraction('{{ product.isbn }}', 'add_to_cart');
    });
    
            // Example: Track time spent on the product page
    /*let startTime = Date.now();
    //window.addEventListener('beforeunload', function() {
     //   let timeSpent = (Date.now() - startTime) / 1000; // Convert to seconds
       // registerInteraction('{{ product.isbn }}', 'click', time_spent = timeSpent);
    //});

    //onclick="registerInteraction('{{product.isbn}}', 'like')" */

</script>

{% endblock %}



